/*
 * Pirate logo: https://freebiesupply.com/logos/ecu-pirates-logo/
*/

/* General styling start */

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    min-width: 1200px;
}
  
a {
    text-decoration: none;
}

/* General styling end */

/* Header styling start */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: brown;
}

header .nav_container {
    width: 100%;
}

header .nav_container:first-child {
    background-color: burlywood;
}

header nav {
    width: 1200px;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    font-weight: bold;
    color: #fff;
    padding: 10px 0;
    margin: 0 20px 0 20px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav.primary {
    padding: 5px 0;
    background-color: brown;
}

header nav.primary .logo {
    margin-right: auto;
}

header nav.utility {
    padding: 10px 0;
}

header nav.utility ul li {
    border-right: 1px solid #fff;
    height: 15px;
}

header nav.utility ul li:last-child {
    border-right: none;
}

header nav.utility ul li a {
    font-weight: normal;
    font-size: 12px;
    margin: 0 10px 0 10px;
}


/* Header styling end */

/* Main styling start */

main {
    padding: 20px;
    width: 1200px;
    margin: 130px auto 0 auto;
    min-height: 80vh;
}

/* Carousel styling start */

.carousel {
    background-color: darkgrey;
    width: 1200px;
    height: 400px;
    margin: 0 0 20px 0;
}

/* Carousel styling end */

.event_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.event {
    background-color: darkgrey;
    height: 400px;
}

/* explicitly using repeat grid syntax */
.attraction_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(1fr, auto);
}

/* using expanded grid syntax */
.filter_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.attraction {
    padding: 10px 20px;
    background-color: darkgrey;
}

/* explicitly using repeat grid syntax */
.ticket_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(500px, auto);
}

.ticket {
    padding: 20px;
    background-color: darkgrey;
}

/* Main styling end */

/* Footer styling start */

footer {
    width: 100%;
    background-color: brown;
    display: grid;
    justify-content: center;
}

footer .inner {
    width: 1200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav.social {
    grid-column: 1/4;
    justify-self: center;
}

footer nav.social h5 {
    font-size: 24px;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
}

footer nav.social ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

footer nav.social ul li {
    margin: 0 15px;
}
footer nav.social ul li img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

footer nav.social ul li img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul li h5 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px 0;
    text-decoration: underline;
}

footer ul li a {
    color: #fff;
}

/* Footer styling end */
