/*
 * Pirate logo: https://freebiesupply.com/logos/ecu-pirates-logo/
 * Social logos: TODO ADD URL
*/

/* Font declarations */

@font-face {
    font-family: 'Vinque';
    src: url('../font/vinque/vinque rg.ttf') format('truetype');
  }

@font-face {
    font-family: 'Chewy';
    src: url('../font/chewy/Chewy-Regular.ttf') format('truetype');
}

/* General styling start */

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    min-width: 1200px;
}
  
a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Chewy', cursive;
}

/* General styling end */

/* Header styling start */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: brown;
}

header .nav_container {
    width: 100%;
}

header .nav_container:first-child {
    background-color: burlywood;
}

header nav {
    width: 1200px;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    font-weight: bold;
    color: #fff;
    padding: 10px 0;
    margin: 0 20px 0 20px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav.primary {
    padding: 5px 0;
    background-color: brown;
}

header nav.primary .logo {
    margin-right: auto;
}

header nav.primary #park_name {
    font-family: 'Vinque', Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black, 3.5px 3.5px 3.5px burlywood; 
    letter-spacing: 2px; 
    font-size: 20px;
    right: 50px;
}

header nav.utility {
    padding: 10px 0;
}

header nav.utility ul li {
    border-right: 1px solid #fff;
    height: 15px;
}

header nav.utility ul li:last-child {
    border-right: none;
}

header nav.utility ul li a {
    font-weight: normal;
    font-size: 12px;
    margin: 0 10px 0 10px;
}

.buy{
    background-color: #99b898;
    padding: 25px 0;
}

.buy a {
    color: black;
}

/* Header styling end */

/* Main styling start */

main {
    padding: 20px;
    width: 1200px;
    margin: 130px auto 0 auto;
    min-height: 80vh;
}

/* Carousel styling start */

.carousel {
    width: 1200px;
    height: 400px;
    margin: 0 0 20px 0;
    position: relative;
}

.carousel:hover .controls {
    opacity: 1;
}

.carousel .inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel .item {
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel .item img {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 0;
}

.carousel .item .content {
    overflow: hidden; 
    width: 100%; 
    height: 100%; 
    position: relative;
}

.content h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    margin: 0;
    opacity: 0.9;
    z-index: 1;
}

.carousel .item:nth-child(1) {
    transform: scale(0.80);
    left: -115px;
    z-index: 0;
    opacity: 0.5;
}

.carousel .item:nth-child(2) {
    transform: scale(0.85);
    left: -60px;
    z-index: 1;
    opacity: 0.6;
}

.carousel .item:nth-child(3) {
    transform: scale(0.90);
    z-index: 2;
}

.carousel .item:nth-child(4) {
    transform: scale(0.85);
    right: -60px;
    z-index: 1;
    opacity: 0.6;
}

.carousel .item:nth-child(5) {
    transform: scale(0.80);
    right: -115px;
    z-index: 0;
    opacity: 0.5;
}

.carousel .controls {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-items: center;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease;
}

.carousel .controls .control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    border: 2px solid #FFF;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
}

.carousel .controls .control.left {
    left: 85px;
}

.carousel .controls .control.right {
    right: 85px;
}

/* Carousel styling end */

/* General box shadow styling start */

.box {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.box:before, .box:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
}

.box:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
}

/* Box shadow styling end */
.event_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.event {
    background-color: darkgrey;
    height: 400px;
    position: relative;
    transition: all 0.5s ease;
}

.event:hover {
    margin-top: -10px;
    box-shadow: 0px 15px 15px -4px rgba(0, 0, 0, 0.7);
}

.event .content {
    overflow: hidden; 
    width: 100%; 
    height: 100%; 
    position: relative;
}

.event img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
}

.event h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0;
    z-index: 1;
}

/* explicitly using repeat grid syntax */
.attraction_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(1fr, auto);
}

/* grid gallery and hover-opacity-box relative to size */
.gallery {
    position: relative;
} 

/* image placement to cover entire box space */
.gallery img {
    max-width: 100%;
    height: 240px;
    object-fit: cover;
}

/* 
 * places opacity box absolute to the grid size for each image
 * as it displays ride name taking 0.9s to change back to the image after hovering 
 */
.rides {
    opacity: 0;
    position: absolute;
    color: brown;
    bottom: 0;
    height: 100%;
    width: 0%;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #fff;
    transition: all .9s ease;
}

.rides h3 {
    transition: all 5s ease;
    transform: scale(0.1);
}

/* hover box sized at 90% with opacity fadeout*/
.gallery:hover .rides {
    opacity: 0.8;
    width: 100%;
    transition: all 0.5s ease;
}

.gallery:hover .rides h3 {
    transform: scale(1);
    transition: all 0.9s ease;
}

/* using expanded grid syntax */
.filter_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.attraction {
    padding: 0;
    background-color: darkgrey;
}

.attraction img {
    display: block;
    width: 290px;
    height: 240px;
}

/* explicitly using repeat grid syntax */
.ticket_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(500px, auto);
}

.ticket {
    padding: 20px;
}

/*
 * add a different colour to each ticket type
 */
.ticket-bronze {
    background-color: #a46628;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.5s;
}

.ticket-silver {
    background-color: #D3D3D3;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.5s;
}
.ticket-gold {
    background-color: #FFD700;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.5s;
}

.ticket h2 {
    text-transform: uppercase;
    color: #111d5e;
}

.price {
    border-radius: 40%;
    border: 5px solid;
    margin: auto;
    width: 10em;
}

.price h3 {
    font-size: 40px;
}

.features {
    border: thick double ;
    margin: 10px;
}

.ticket h4 {
    margin: 5px;
    padding: 15px;
}

.ticket:hover {
    transform: scale(1.1);
}


.ticket button {
    display: block;
    width: 50%;
    height: 100px;
    margin: auto;
    background-color: #ddf3f5;
}

.ticket-buy-btn:hover
{
    background-color: #99b898;
    -webkit-transition: background-color 5000ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

/* Main styling end */

/* Footer styling start */

footer {
    width: 100%;
    background-color: brown;
    display: grid;
    justify-content: center;
}

footer .inner {
    width: 1200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav.social {
    grid-column: 1/4;
    justify-self: center;
}

footer nav.social h3 {
    font-size: 24px;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
}

footer nav.social ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

footer nav.social ul li {
    margin: 0 15px;
}

footer nav.social ul li img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

footer nav.social ul li img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul li h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px 0;
    text-decoration: underline;
}

footer ul li a {
    color: #fff;
}

/* Footer styling end */
